.jumbotron {
	background-image: url(img/bunga.jpg);
	background-size: cover;
	height: 700px;
	text-align: center; 
}

.jumbotron .display-4 {
	color: black;
	font-size: 49px;
}

.jumbotron p {
	color: black;
}

.jumbotron .my-4 {
	color: white;
}

.jumbotron .btn {
	background-color: #CA0B00;
	border :none;
	border-radius: 25px;

}

.carousel-item .btn {
	background-color: #CA0B00
	border : none;
	border-radius: 25px;
}
